#sign-up-page
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    .banner
      = image_tag('banner.png')
    .header.text-center
      = I18n.t('sign_up.header_text')
    .small-header.text-center
      %i.text= I18n.t('sign_up.step_1_text')
      %i.content= I18n.t('sign_up.step_1_content')
    .note.text-center
      = I18n.t('sign_up.step_1_note')
    .field-label.text-center
      = I18n.t('sign_up.email')
    .field.input-group
      = f.email_field :email, autofocus: true, class: 'form-control'
    .field-label.text-center
      = I18n.t('sign_up.name')
    .field.input-group
      = f.text_field :name, class: 'form-control'
    .field-label.text-center
      = I18n.t('sign_up.phone')
    .field.input-group
      = f.text_field :phone, class: 'form-control'
    .field-label.text-center
      = I18n.t('sign_up.password')
    .field.input-group
      = f.password_field :password, autocomplete: "off", class: 'form-control'
    .field-label.text-center
      = I18n.t('sign_up.password_confirmation')
    .field.input-group
      = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
    .actions
      = f.submit I18n.t('sign_up.button'), class: 'btn btn-success'

