.row.index-table-row
  .col-md-1
    = t('cms.restaurants.id')
  .col-md-3
    = t('cms.restaurants.name_attribute')
  .col-md-1
    = t('cms.restaurants.city')
  .col-md-1
    = t('cms.restaurants.category')
  .col-md-1
    = t('cms.restaurants.number_of_coupon')
  .col-md-1
    = t('cms.restaurants.total_comments')
  .col-md-1
    = t('cms.restaurants.total_photos')
  .col-md-3
    = t('cms.actions.label')
- @restaurants.each_with_index do |restaurant, index|
  .row{ class: "index-table-row #{ index%2 == 1 ? 'with-background' : '' }"}
    .col-md-1
      = restaurant.id
    .col-md-3
      = restaurant.name
    .col-md-1
      = restaurant.city.try(:name)
    .col-md-1
      = restaurant.restaurant_category.try(:name)
    .col-md-1
      = restaurant.count_available_coupons
    .col-md-1
      = restaurant.comments_count
    .col-md-1
      = restaurant.images_count
    .col-md-3
    - if current_admin.admin?
      = link_to t('cms.actions.show'), cms_restaurant_path(restaurant), class: 'btn btn-success'
      = link_to t('cms.actions.edit'), edit_cms_restaurant_path(restaurant), class: 'btn btn-primary'
      = link_to t('cms.actions.destroy'), cms_restaurant_path(restaurant), class: 'btn btn-danger', method: :delete
    - else
      = link_to t('cms.actions.show'), owner_restaurant_path(restaurant), class: 'btn btn-success'
      = link_to t('cms.actions.edit'), edit_owner_restaurant_path(restaurant), class: 'btn btn-primary'
      = link_to t('cms.actions.destroy'), owner_restaurant_path(restaurant), class: 'btn btn-danger', method: :delete
= paginate @restaurants