$linkcolor: #428bca;
$background-color: #ccffcc;
$border-color: #E6E6E6;
$header-background-color: #3D4351;
$side-bar-color: rgb(226,226,226);
$side-bar-text-color: rgb(65,65,91);

body {
  margin: auto;

  .banner {
    img {
      margin: 25px;
    }
  }
  &#with-header-background-color {
    background-color: $header-background-color;
  }
}

#map {
  height: 200px;
  width: 600px;
}

#mange-photos {
  img {
    height: 200px;
    width: 200px;
    display: inline-block;
  }
}

#header {
  height: 70px;
  background-color: $header-background-color;

  .white-banner {
    height: 70px;
    line-height: 70px;

    img {
      display: initial;
      margin-left: 35px;
    }
  }
}

#sign-in-page, #sign-up-page  {

  .new_admin, .new_restaurant_owner {
    width: 300px;
    margin: auto;

    .input-group {
      margin-bottom: 15px;
    }

    .actions {
      text-align: center;

      input {
        width: 300px;
        font-size: 20px;
        font-weight: bold;
      }
    }

    .sign-up-link {
      color: white;
      font-size: 14px;

      a {
        text-decoration: underline;
        color: white;
      }
    }
  }
}

#sign-up-page, #third-party-accounts {
  form.new_admin {
    width: 510px;
  }

  form {
    text-align: center;
  }

  .header {
    text-transform: uppercase;
    color: white;
    font-size: 18px
  }

  .field-label {
    font-size: 13px;
    color: white;
    margin: 20px 0 5px 0;
  }

  .field.input-group {
    margin: auto;

    input, select {
      border-radius: 5px;
      width: 420px;
    }
  }

  .small-header {
    font-size: 14px;
    color: white;

    .text {
      font-weight: bold;

    }
  }

  .note {
    font-size: 12px;
    color: white;
  }

  .actions input.btn {
    margin-top: 20px;
    width: 420px;
    font-size: 13px;
  }
}


.side-bar {
  background-color: $side-bar-color;
  height: 150vh;

  .fa {
    color: $side-bar-text-color;
  }

  .link {
    margin-top: 10px;
    margin-left: 5px;
  }

  a {
    color: $side-bar-text-color;
  }
}

.main-content {

  .new-record {
    background-color: white;
    border: $linkcolor 1px solid;
    float: right;
    color: $linkcolor;
    margin: 10px;

    &:hover, &:focus {
      background-color: $linkcolor;
      border: white 1px solid;
      color: white;
    }
  }

  span.title {
    font-size: 40px;
  }

  .with-background {
    background-color: $background-color;
  }

  .index-table-row {
    padding: 10px;
    border-bottom: 1px solid $border-color;
  }
}

.field {
  margin-bottom: 10px;
}

.google-map {
  margin-bottom: 10px;
}

.fields {
  padding: 10px 0;
  border-bottom: 1px solid $border-color;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.image-preview {
  img {
    width: 300px;
  }
}
ul#reviews {
  list-style-type: decimal;
}

a.carousel-control {
  &.right, &.left {
    background: none;
  }

  span.fa {
    color: black;
    font-size: 30px;
  }
}

.carousel-inner {
  height: 200px;

  img {
    margin: auto;
  }
}

#myCarousel {
  width: 50%
}

#restaurant-images {
  img {
    width: 200px;
    height: 200px;
  }
}

.menu-area {
  margin: 10px 0;
  border-bottom: 1px solid;
  border-top: 1px solid;
  padding-bottom: 5px;
}