!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width initial-scale=1.0"}
    %title Aclub.vn
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script{ src: "https://maps.googleapis.com/maps/api/js" }
    = csrf_meta_tags
  %body#advertising
    = yield
